//
//    main.scss
//

@import "custom_variables";
@import "bootstrap/bootstrap";
@import 'partials/_bootstrap-mixins';
@import 'partials/_custom_mixins';
@import 'partials/_ekko-lightbox';
@import 'partials/_loading-effect';
@import 'partials/_sidebar';
@import 'partials/_grid';


body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

// h1 {line-height: 1;}

.container-fluid {
    padding: $page-padding;
}

.content {
    overflow-wrap: break-word;
    word-wrap: break-word;

    a {
        text-decoration: underline;
        color: #000;

        &:hover {
            color: #000;
        }
    }
}

// positioner div for back-to-top button
#positioner {
    position: absolute;
    left: ($logo-width - $page-padding) / 2;
}

@include respond-below(sm) {
    #positioner {
        left: -$page-padding;
    }
}

#back-to-top {
    position: fixed;
    bottom: $back-to-top-bottom-pos;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
    color: $color-sidebar;
    background-color: $white;
    text-decoration: none;
    padding: 0;
    width: 34px;
    height: 34px;
    @include shadow(3, 5, 10, 2, 0.5);

    &:hover, &:focus, &:active, &.active {
        background-color: darken($white, 3%);
        border-color: darken($white, 10%);
    }

    #arrow-up {
        width: 24px;
        height: 24px;
        margin: 4px;
        background-image: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3e%3cpath d='M17.504 26.025l.001-14.287 6.366 6.367L26 15.979 15.997 5.975 6 15.971 8.129 18.1l6.366-6.368v14.291z'/%3e%3c/svg%3e"), "#", "%23");
    }
}
