{{ define "main" }}
{{ $landscape := .Params.landscape }}
  <main aria-role="main">
    {{ with .Content }}
      <div class="row justify-content-center">
        <div class="col-11 pb-3">
          {{ . }}
        </div>
      </div>
    {{ end }}
    <div id="grid" class="grid effect-2">
      {{ with .Resources.ByType "image" }}
        {{ range . }}
          {{ $name_arr := split .Name "_" }}
          <!-- {{ $title := index (split (index $name_arr 1) ".") 0 }} -->
		  {{ $title := strings.TrimSuffix ".jpg" (index $name_arr 1) }}
          {{ $image := .Resize "750x q85" }}
          <div class="grid-item {{ if $landscape }}landscape{{ end }}">
            <a href="{{ .RelPermalink }}" data-toggle="lightbox" data-gallery="gallery" data-footer="{{ $title }}">
              <img src="{{ $image.RelPermalink }}" class="img-fluid" alt="{{ $title }}">
              <div class="overlay"><div class="text">{{ $title }}</div></div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  <!-- <script>
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      transitionDuration: 0,
    });

    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
  </script> -->
  <script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.2,
			maxDuration : 0.5,
			viewportFactor : 0.15
		});
  </script>
  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
				leftArrow: '<span>&#10094;</span>',
				rightArrow: '<span>&#10095;</span>',
			});
    });
  </script>
{{ end }}
