<!-- sidebar start -->
<!-- <nav id="sidebar" class="col-md-4 py-2"> -->
<nav id="sidebar" class="text-center">
    <div class="pb-4">
        <a href="{{ .Site.BaseURL }}">
            <img src="{{ "img/logo.png" | absURL}}" alt="{{ .Site.Title }}" id="logo">
        </a>
        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="accordion" id="accordion">
        <ul class="collapse d-md-block px-0 pb-4" id="navbarToggleExternalContent">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li data-toggle="collapse" data-target="#{{ .Name }}" aria-expanded="{{ if $currentPage.HasMenuCurrent "main" .}}true{{ else }}false{{ end }}">
                        <a href="#">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse pb-1 {{ if $currentPage.HasMenuCurrent "main" . }}show{{ end }}" id="{{ .Name }}" data-parent="#accordion">
                        {{ range .Children }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <li>
                        <a href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
<!-- class=" -->
