#sidebar {
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        font-weight: 500;
    }

    .sub-menu li {
        font-weight: 300;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-sidebar;

        &:hover {
            text-decoration: none;
        }
    }

    #logo {
        width: $logo-width;
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
        border: 0;
        padding: 0;
        margin-top: $logo-heigth / 2;
        transform: translateY(-50%);
        margin-right: $page-padding + $gutter;
    }

    button:focus {
        outline: none;
    }

    .navbar-toggler-icon {
        background-image: $navbar-light-toggler-icon-bg;
    }
}

@include respond-above(sm) {
    #sidebar {
        width: $logo-width;
        position: fixed;
        z-index: 999;
    }

    #logo {
        // adjust for white border in logo
        margin-top: $gutter - 1px;
    }

    .content {
        padding-left: $logo-width + $page-padding !important;
    }
}
